body {
  background-color: lightgray;
}

.games {
  border: solid 1px lightseagreen;
}

.spinner {
  border: 5px solid #42e485;
  border-top: 5px solid #42e485;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
